
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
/* Estilos para el carrusel */
#carousel {
    position: relative;
    max-width: 100%; /* Ajusta el tamaño según tus necesidades */
    margin: auto;
    overflow: hidden;
}

/* .carousel-container {
    display: flex;
    overflow-x: auto; /* Permite desplazamiento horizontal */
    scroll-snap-type: x mandatory; /* Establece el tipo de desplazamiento obligatorio horizontal */
    -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos táctiles */
} */
.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.carousel-slide {
    display: flex; /* Mostrar las imágenes en línea horizontal */
    flex-wrap: nowrap; /* Evitar que las imágenes se envuelvan a la siguiente línea */
}

.carousel-slide img {
    max-width: 100%; /* Ajustar el ancho máximo de las imágenes */
    height: auto; /* Mantener la proporción de aspecto */
    margin-right: 10px; /* Espacio entre las imágenes */
    cursor: pointer;
    border-radius: 10px;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
    border: none;
    cursor: pointer;
}

button.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}







* { margin: 0; }

html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.fullscreen-image {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    overflow: hidden;
}

.fullscreen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

li { list-style: none; }

a { text-decoration: none; color: inherit; }


nav {
    width: 100%;
    max-width: 1980px;
    position: absolute;
    inset: 0 0 100% 0;
}

nav .container {
    width: 90%;
    margin: 0 auto;
    min-height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
}

.nav-list {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    transition: opacity 300ms ease;
}

.list-item:hover {
    opacity: 0.8;
}

.contact {
    background-color: #505050;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
}

.mobile-menu { display: none; }



.header {
    width: 100%;
    height: 100vh;
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}

.header .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-info {
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
}

.header-headline {
    font-size: 6rem;
    text-align: center;
    font-weight: 900;
    line-height: 110%;
    text-transform: capitalize;
    color: white;
    padding-block: 1rem;
}

.header-subtitle {
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
    color: #f1f1f1;
    text-transform: capitalize;
    padding-bottom: 2rem;
}

.cta {
    width: 200px;
    background-color: #505050;
    color: #fff;
    text-align: center;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    font-size: 2rem;
}


form {
    max-width: 1980px;
    width: 100%;
    margin-top: -50px;
}

form .container {
    width: 80%;
    margin-inline: auto;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(80, 80, 80, 0.30);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100px;
    gap: 2rem;
    border-radius: 0.6rem;
}

.input {
    flex-basis: 22%;
    background-color: transparent;
    height: 100%;
    display







